{% extends 'admin_base.html' %}

{% block main %}

<div class="card shadow">
    <div class="card-body">
<!--         <h5 class="p-2" style="border-bottom: 2px solid orange;">Edit Product</h5> -->
      <div class="container-fluid d-flex mb-3" style="border-bottom: 2px solid orange;">
      <div class="me-auto p-2"><h5 class="d-inline">Edit Product</h5></div>
      <div class="p-2"><a href="{% url 'view_product' %}" class="text-success float-end me-3"><button type="button" class="btn btn-primary btn-sm">Back to Inventory</button></a></div>
    </div>

      
        <div class="container-fluid">
            <form action="{% url 'edit_product' product.pk %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Product Category</label>
                            <select name="category" class="form-control" required>
                                <option value="">Choose Category</option>
                                {% for category in categories %}
                                    <option value="{{ category.id }}" {% if category.id == product.category.id %}selected{% endif %}>{{ category.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Product Name</label>
                            <input type="text" name="name" class="form-control" value="{{ product.name }}" placeholder="Product Name" required>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Cost Price</label>
                            <input type="text" name="cost_price" class="form-control" value="{{ product.cost_price }}" placeholder="Cost Price" required>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Selling Price</label>
                            <input type="text" name="selling_price" class="form-control" value="{{ product.selling_price }}" placeholder="Selling Price" required>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Stock</label>
                            <input type="number" name="stock" class="form-control" value="{{ product.stock }}" placeholder="Stock" required>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Description</label>
                            <textarea name="description" class="form-control" placeholder="Write a description">{{ product.description }}</textarea>
                        </div>
                    </div>
                </div>
                <input type="submit" value="Submit" class="m-2 px-3 btn btn-primary">
            </form>
        </div>
    </div>
</div>

{% endblock %}
