{% extends 'admin_base.html' %}

{% block main %}
<div class="card shadow">
  <div class="card-body">

    <div class="mb-3 row g-3"  style="border-bottom: 2px solid orange;">
      <div class="p-2 ps-4 col-md-4"><h5 class="d-inline">Invoice History</h5></div>
      
    
      <div class="px-2 pt-1 col-md-6">
        <form method="GET" action="{% url 'view_invoice_history' %}" class="d-flex">
          <div class="input-group">
            <input class="form-control form-control-sm" type="search" placeholder="Search" name="que">
            <button class="btn btn-success btn-sm" type="submit">Search</button>
          </div>
        </form>
      </div>
      
    </div>



    
    <div class="container-fluid">
      <table class="table table-bordered table-sm" id="example">
        <thead>
          <tr>
            <th>Sr. No.</th>
            <th>Invoice ID</th>
            <th>Customer Name</th>
            <th>Mobile Number</th>
            <th>Payment Mode</th>
            <!-- <th>Cart Items</th> -->
            <!-- <th>Details</th> -->
          </tr>
        </thead>
        <tbody>
          {% for i in invoices %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ i.invnumber }}</td>
              <td>{{ i.customer_name }}</td>
              <td>{{ i.customer_mobile }}</td>
              <td>{{ i.payment_mode }}</td>
              <!-- <td>{{ i.cart_items}}</td> -->
              <!-- <td>
                <a href="" class="text-success"><button type="button" class="btn btn-info btn-sm"><svg style="width: 1.25rem; height: 1.25rem;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM216 336h24V272H216c-13.3 0-24-10.7-24-24s10.7-24 24-24h48c13.3 0 24 10.7 24 24v88h8c13.3 0 24 10.7 24 24s-10.7 24-24 24H216c-13.3 0-24-10.7-24-24s10.7-24 24-24zm40-208a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"/></svg></button></a>
              </td> -->
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
